@model IEnumerable<BusinessLayer.People>

@{
    ViewBag.Title = "Index";
}
<div style="font-family:Arial">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "People", new { id = item.ID }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |

                        <input type="submit" value="delete" 
                               onclick="return confirm('Are you sure you want to delete record with ID = @item.ID');"/> <!-- return confirm pops up to ask confirm msg using items object for id -->

                    </td>
                </tr>
            }
        }

    </table>
</div>